.wrapper {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.letterBox {
  background-color: #ff005b;
  padding: 4px 8px;
  position: relative;
  z-index: 1; 
  display: inline-block;
  transform: skew(-20deg); 
}

.letter {
  font-size: 17px;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  display: block;
}

.line {
  position: absolute;
  top: 50%;
  left: 12px;
  width: calc(100% - 24px); 
  height: 0.5px;
  background: black;
  transform: translateY(-50%);
  z-index: 0;
}
.textMainAb{
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.imageMainWrapper{
  position: relative;
}
.imageMainWrapper img{
  filter:  brightness(85%);
}
.imageMainWrapper:hover img {
filter:  brightness(60%);
transition: filter 0.3s ease;
cursor: pointer;
}
.imageMainWrapper:hover  {
  cursor: pointer;
  }
.maintitle span:nth-child(1){
color: #00f1c9;
font-weight: 500;
text-transform: uppercase;
font-size: 13px;
}
.maintitle span:nth-child(2){
  color:  white;
  font-size: 13px;
  }
  .textMainAb h1{
    font-weight: 900;
    font-size: 2rem;
    color: white;
    margin: 0;
    text-transform: uppercase;
  }
  .textMainAb p{
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: 0;
  }
  
.col2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col2C{
  width: 100%;
}
.col2C:hover .image, .col2C:hover .col2Contentp , .col2C:hover{
filter: brightness(70%);
cursor: pointer;
color: #777777;
}
.col2Body{
  display: flex;
  width: 100%;
}
.col2Title {
  font-size: 12px;
  color: #777777;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.col2Contentp{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: black;
  transition: color 0.3s ease;
}
.col2Content {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
}
.image{
  width: 100%;
  height: 190px;
  object-fit: cover;
  transition: filter 0.3s ease;
  display: block;
}
.lastContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.lastBlock{
  display: flex;
  width: 100%;
  gap: 10px;
}

.lastBlock:hover .imgColLast , .lastBlock:hover .lastBody h2 , .lastBlock:hover .lastContent{
  color: #aaa;
  filter: brightness(70%);
cursor: pointer;
}
.imgColLast{
  width: 80px;
  height: 80px ;
  object-fit: cover;
  transition: all 0.3s ease;
}
.lastBody{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.lastBody h2{
  margin: 0;
  font-size: 16px;
  transition: all 0.3s ease;
}
.lastContent span:nth-child(1){
  font-weight: 600;
  font-size: 12px;
  color: #777;
  text-transform: uppercase;
}
.lastContent span:nth-child(2){
  font-size: 12px;
  color: #777;
  margin-left: 5px;
}